[Desktop Entry]
Type=Application
Version=1.0
Name=minetime
Comment=minetimestartup script
Exec=/tmp/.mount_minetiq7EaUl/minetime
StartupNotify=false
Terminal=false